*
    margin: 0
    padding: 0
    box-sizing: border-box

$cursive: 'Goldman', cursive
$pixel: 'Silkscreen', cursive

$shadow: #72727277

$chosenBackground: #6aa8e6
$chosenBackgroundFields: #c6cccc

$pokelistBackground: #f0404c
$pokelistBackgroundHover: #ff0011
$pokelistBackgroundFail: #929292
$pokelistBackgroundWin: #ffd000
