*
    margin: 0
    padding: 0
    box-sizing: border-box

$cursive: 'Goldman', cursive
$pixel: 'Silkscreen', cursive

$shadow: #72727277

$chosenBackground: #6aa8e6
$chosenBackgroundFields: #c6cccc

$pokelistBackground: #f0404c
$pokelistBackgroundHover: #ff0011
$pokelistBackgroundFail: #929292
$pokelistBackgroundWin: #ffd000

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeInSwirlGrow
  0%
    transform: rotate(0) scale(1)
    opacity: 0
  50%
    transform: rotate(1440deg) scale(1.2)
    opacity: 1
  100%
    transform: rotate(1800deg) scale(1)

@keyframes fadeInGrow
  0%
    transform: scale(1)
    opacity: 0
  50%
    transform: scale(1.2)
    opacity: 1
  100%
    transform: scale(1)

.fade-in
  animation: fadeIn 0.5s forwards ease-out

.fade-out
  animation: fadeOut 0.5s forwards ease-out

.fadeIn-swirl-grow
  animation: fadeInSwirlGrow 1s forwards ease-out

.fadeIn-grow
  animation: fadeInGrow 1s forwards ease-out

