*
    margin: 0
    padding: 0
    box-sizing: border-box

$cursive: 'Goldman', cursive
$pixel: 'Silkscreen', cursive

$shadow: #72727277

$chosenBackground: #BFDFFE
$chosenBackgroundFields: #939BA2

$pokelistBackground: #e4000f
